@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

.page-enter {
  opacity: 0;
  transform: translateY(-100px) scale(1);
}

.page-enter-active {
  opacity: 1;
  transform: translateY(0px) scale(1);
  transition: opacity 700ms, transform 700ms;
}

.page-exit {
  opacity: 1;
  transform: translateY(0px) scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: translateY(100px) scale(1);
  transition: opacity 700ms, transform 700ms;
}
